@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.logo {
    padding-top: 8%;
    z-index: 1;
}

.title-login {
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
font-weight: 800;
color: #A4A4A4;
padding-top: 7%;
}

.box {
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 70px;
    width: 100%;
    margin-top: 4% !important;
    max-width: 600px !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #A4A4A4;
    z-index: 1;
}

.box input {
    border-radius: 5px ;
    border: rgba(164, 164, 164, 0.534) solid 2px;
    height: 80px;
    width: 100%;;
    color: #A4A4A4;
}

.recoverPass , .link-register{
    text-decoration: none;
    color: white;
}


.box .username
{
    background-image:url('../assets/Icon_Name.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}

.box .password
{
    background-image:url('../assets/Icon_Password.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}


.box .login   {
    background-image: linear-gradient(to right, #61BCEE 0%, #6E75F0  50%);
    border: none;
}

.box .register   {
    background-image: linear-gradient(to right, #6E75F0 0%, #61BCEE  50%);
    border: none;
}

.box .login, .register {
       padding: 8px 45px;
       text-align: center;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       font-weight: bold;
       display: block;
       width: 80%;
       margin-left: 10%;
}

.box button:hover {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
}

/* ------ Responsive -----*/
@media (max-width: 1440px) {
    .box {
        margin-top: 6% !important;
    }

    .logo {
        margin-top: 2%;
    }

    .title-login {
        margin-top: 2%;
    }
}

@media (max-width: 1200px) {
    .logo {
        margin-top: 6%;
        text-align: center;
    }

    .title-login {
        margin-top: 7%;
    }

    .box {
        margin-top: 8% !important;
        padding: 40px !important;
        font-size: 1.2em;
        width: 500px !important;
        height: 600px !important;
    }

    .box .login, .box .register {
        width: 100%;
        margin-left: 0;
        padding: 10px 30px;
        font-size: 1em;
    }

    
}

@media (max-width: 768px) {
    .box {
        padding: 10px 30px 0px 30px !important;
        font-size: 1em;
        margin-top: 10% !important;
        width: 90%;
    }

    .box .login, .box .register {
        width: 100%;
        margin-left: 0;
        padding: 10px 25px;
        font-size: 0.95em;
    }

    .title-login {
        margin-top: 12% !important;
        text-align: center;
        font-size: 2rem;
    }

    .logo {
        margin-top: 5% !important;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .logo {
        margin-top: 15%;
        width: 50%;
    }

    .title-login {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 25%;
        color: white !important;
    }

    .box {
        padding: 25px 20px !important;
        font-size: 1em;
        margin-top: 18% !important;
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        box-shadow: none;
    }

    .rec-login {
        display: none;
    }
}
