@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.logo-register {
    padding-top: 8%;
    z-index: 1;
}

.title-register {
text-transform: uppercase;
font-family: 'Poppins', sans-serif;
font-weight: 800;
color: #A4A4A4;
padding-top: 7%;
}

.box-register {
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 35px 20px 35px;
    width: 100%;
    margin-top: 4% !important;
    max-width: 1240px !important;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #A4A4A4;
    z-index: 2;
}

.box-register input {
    border-radius: 5px ;
    border: rgba(164, 164, 164, 0.534) solid 2px;
    height: 80px;
    width: 100%;;
    color: #A4A4A4;
}

.box-register input::placeholder {
    color: rgba(164, 164, 164, 0.534);
}

.box-register .username
{
    background-image:url('../assets/Icon_Name.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}

.box-register .lastname
{
    background-image:url('../assets/Icon_Name.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}

.box-register .password
{
    background-image:url('../assets/Icon_Password.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}

.box-register .phone {
    background-image:url('../assets/Icon_Phone.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}

.box-register .register   {
    background-image: linear-gradient(to right, #6E75F0 0%, #61BCEE  50%);
    border: none;
}

.box-register .profile-pic {
    background-image: url('../assets/Icon_pf.png');
    background-repeat: no-repeat;
    background-position: 40px 25px;
    height: 140px;
    width: 180px;;
    outline: none;
}

.box-register .email
{
    background-image:url('../assets/Icon_email.png');
    background-repeat:no-repeat;
    background-position: 20px 25px;
    padding-left: 65px;
    outline: none;
}

.box-register .dui
{
    background-image:url('../assets/Icon_dui.png');
    background-repeat:no-repeat;
    background-position: 8px 25px;
    padding-left: 65px;
    outline: none;
}

.upload-pic {
    background-image: linear-gradient(to right, #6E75F0 0%, #61BCEE  50%);
    border: none;;
    color: white;
}

.profile-pic
{
    background-position: right center; 
       color: #fff;
       text-decoration: none;
}

.box-register .login, .register {
       padding: 8px 45px;
       text-align: center;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       font-weight: bold;
       display: block;
       width: 80%;
       margin-left: 10%;
}

.upload-pic {
    padding: 8px 45px;
       text-align: center;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       font-weight: bold;
       display: block;
       width: 50%;
       margin-left: 25%;
}

.box-register .register {
    width: 50%;
    margin-left: 25%;
}

.box-register button:hover {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
}

/* ---- RESPONSIVE ----- */
@media (max-width: 1440px) {


    .box-register {
        margin-top: 5% !important;
        padding: 5px 40px 15px 40px;
        width: 900px !important;
        font-size: 1rem;
    }

    .box-register input
    {
        margin: 0 !important;
    }

    .logo-register {
        width: 180px;
    }
}

@media (max-width: 1024px) {
    .box-register {
        margin-top: 7% !important;
        padding: 5px 40px 15px 40px;
        width: 900px !important;
        font-size: 1rem;
    }

    .box-register input
    {
        margin: 0 !important;
    }

    .logo-register {
        width: 180px;
        margin-top: 2%;
    }

    .title-register {
        margin-top: 3%;
    }
}

@media (max-width: 768px){
    .box-register {
        margin-top: 9% !important;
        padding: 5px 40px 15px 40px;
        width: 700px !important;
        font-size: 1rem;
    }

    .box-register input
    {
        margin: 0 !important;
    }

    .logo-register {
        margin-top: 5% !important;
    }

    .title-register {
        margin-top: 7%;
        font-size: 1.8rem;
    }
}
