.filteredSales {
    width: 650px;
    height: 400px;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
    background-color: white;
    transition-duration: .4s;
}

.filteredSales:hover {
    transform: translateY(-6px);
    transition-duration: .4s;
}