.monthSales {
    width: 900px;
    height: 550px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.233);
    background-color: white;
    transition-duration: .4s;
}

.monthSales:hover {
    transform: translateY(-6px);
    transition-duration: .4s;
}
